* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #22252a; */
    background: white;
}

.form-container {
    max-width: 500px;
    width: 100%;
    /* background: #363b41; */
    background: #fff;
    padding: 25px 50px;
    margin-left: 180px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(150, 150, 150, 0.5);
}

.form-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid rgba(150, 150, 150, 0.1);
    color: #1c1c1c;
}

.form-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 15px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.details {
    margin-left: 10px;
    color: #1c1c1c;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 30px;
    border: none;
    background: #f4f5f7;
    color: #1c1c1c;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.user-details .input-box:last-of-type input {
    width: 400px;
}

form button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 60px;
    margin: 25px 0 10px;
    padding: 10px 0;
    background: #6378fb;
    transition: all 500ms;
}

form button:hover {
    background: #2746e6;
}

.img-container img {
    width: 220px;
    height: 220px;
}

#one {
    transform: translate(20px, -150px);
}

#two {
    transform: translate(-120px, 120px);
}

#three {
    transform: translate(-100px, -60px);
}


/* ------ Media queries ------ */

@media (max-width: 600px) {
    .form-container {
        max-width: 100%;
        margin-left: 0;
        box-shadow: none;
        padding-bottom: 80px;
    }

    form .user-details .input-box {
        margin-bottom: 0;
        width: 100%;
    }

    .form-container form .user-details {
        max-height: 470px;
    }

    .user-details::-webkit-scrollbar-button {
        width: 0;
    }

    .user-details .input-box:last-of-type input {
        margin-bottom: 5px;
        width: 100%;
    }

    .img-container img {
        display: none;
    }
}